*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    background: url(image1.jpg)no-repeat;
    background-size: cover;
}
.navbaritems {
    display: flex;
   justify-content: space-between;
   padding: 10px;
   background-color: rgb(231, 231, 231);
   
   
}
.navbaritems ul{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size:x-large;
    list-style-type: none;
}
.navbaritems img{
    
    height: 80px;
}

.navbaritems li {
    padding-left: 50px;
    cursor: pointer;
    padding-top: 15px;
}

.header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login{
    display: flex;
    justify-content: center;
}
.login a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
}
.main{
    height: 500px;
    width: 450px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.496);
}